<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Testigo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Datos Del Testigo</ion-card-subtitle>
      </ion-card-header>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Folio Caso</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Nombre Completo</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Domicilio</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Ocupación</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" shape="round">Agregar Testigo</ion-button>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>